html{
  font-family:helvetica;
  font-size:22px;
  color:seashell;
  background-color:black;
  opacity:0.9;
  text-align:center;
  width:100%;
}

body{
  border: coral solid 1px;
  display:flex;
  flex-direction:column;
  margin:0;
}

header{
  display:flex;
  top:0;
  height:69px;
  width:100%;
  background-color:black;
  position:fixed;
  border-bottom: 1px solid seashell;
  border: coral solid 1px;
  justify-content:space-between;
  z-index: 5;
  opacity:0.9;
}

.logo{
  display:flex;
  align-items: center;
  justify-content:flex-start;
}

.logo img{
  padding-left:10px;
  height:50px;
}

header .nav{
  justify-content:flex-end;

}

.nav{
  display:flex;
    align-items: center;
}

li{
  list-style: none;
  padding:10px;
}

a:-webkit-any-link {
  color:seashell;
}

.main{
  opacity:0.9;
  display:flex;
  align-items:center;
  justify-content: center;
  margin-top:69px;
  border: coral solid 1px;
  flex-direction:column;

  height:100%;
  width:100%;
  z-index:0;
}

.tea-top{
  display:flex;
  align-items:center;
  justify-content: center;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height:700px;
  width:1200px;
  border: coral solid 1px;
  margin: 0 auto;
}

.mission{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:black;
  z-index: 1;
  width:1200px;
  border: coral solid 1px;
  height:103px;
}

h2,
h3,
h4{
  margin:0;
  padding:10px;
}

h2{

  font-size:40px;
}

h4{
  font-size:22px;
}
h2,
h3,
h4,
h5,
p{
  opacity:.9;
}

h5{
  margin: 15px auto;
}

.tea-mid{
  padding-top:70px;
  width:1000px;
  height:770px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:flex-start;
  border: coral solid 1px;
  flex-wrap:wrap;
  margin: 0 100;
}

.tea-month{

  border: coral solid 1px;
}

.tea-kinds{
  width:1000px;
  height:600px;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  border: coral solid 1px;
}

.tea{
  padding:5;
}

.tea img{
  height:200px;
  width:300px;
}

.tea-bot{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  width:1200px;
  height:500px;
  border: coral solid 1px;
}

.tea-locations{
  display:flex;
  justify-content: center;
  border: coral solid 1px;
}

.places{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.place{
  display:flex;
  flex-direction:column;
  height:300px;
  width:300px;
  background-color: black;
  margin: 15px 20px;
  opacity:1;
  justify-content:center;
  border: coral solid 1px;
}

.contact{
  display:flex;
  flex-direction:column;
  align-items:center;
  opacity:0.9;
  height:200px;
  border: coral solid 1px;
}

.footer{
  display:flex;
  margin-left:20px;
  align-items:flex-start;
  opacity:.9;
  border: coral solid 1px;
}
